body{
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
#top{
  width: 100%;
  height: 500px;
  border-bottom: 1px solid black;
}

#incrust{
  float: left;
  width: 750px;
  height: 100%;
  background-color: rgb(0,196,0);
  text-shadow: 0px 0px 4px #000000;
  border-right: 1px solid black;
}
#metas{
  float: left;
  max-width: 530px;
  margin-left: 60px;
  margin-top: 190px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: white;
}
#name{
  font-size: 36px;
}
#descr{
  font-size: 24px;
}
#groupe{
  float:left;
  width: 100px;
  margin-left: 20px;
  margin-top: 195px;
}
#groupe img{
  width: 100px;
  height: 100px;
  border: solid 1px #333;
  border-radius: 33%;
}
#right{
  float: left;
  padding-left: 10px;
  height: 100%;
  overflow: hidden;
}
h1{
  font-size: 24px;
}
h1 a, h1 a:visited, #linkFJ a, #linkFJ a:visited{
  text-decoration: none;
  color: inherit;
}
#logo{
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
}
#listdeputes{
  width: 250px;
}
.ui-autocomplete{
  min-width: 280px;
  max-height: 600px;
  overflow-y: auto;
}
.ui-autocomplete li{
  font-size: 0.8em;
}
#random{
  margin: 10px;
}
#FJ{
  background-color: #FFFFAA;
  width: 98%;
  margin: auto;
  height: 375px;
  overflow-y: auto;
}
#content, #FJloaded, #empty{
  display: none;
}
#linkFJ, #empty{
  float: left;
  margin: -5px 0px 0px 10px;
}
#refreshFJ, #testQAG{
  float: right;
  margin: -5px 10px;
}
#FJ table{
  width: 100%;
}
#FJ tr{
  height: 28px;
}
#FJ tr.clickable{
  cursor: pointer;
}
#FJ tr.clickable:hover{
  background-color: #EFD;
}
#FJ .odd{
  background-color: #FFFF88;
}
#FJ .title{
  background-color: #FFFF55;
  height: 34px;
  font-weight: bold;
}
#bottom{
  width: 100%;
  overflow-y: auto;
}
#widget{
  padding-left: 25px;
  float: left;
  width: 1000px;
  min-height: 300px;
  height: 100%;
}
#autres{
  float: left;
  text-align: left;
  min-height: 200px;
  height: 100%;
}
h2{
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}
