body{
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.sp-replacer, .sp-preview{
  background: none !important;
  border: none !important;
}
#metasColor{
  position: absolute;
  top: 0;
  left: 646px;
}
#mapColor{
  position: absolute;
  top: 0;
  left: 796px;
}
#widgetColor{
  position: absolute;
  top: 200px;
  left: 796px;
}
#incrust{
  float: left;
  width: 846px;
  height: 100%;
  border-right: 1px solid black;
}
#metas{
  float: left;
  width: 695px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#groupe{
  float:left;
  width: 120px;
  margin: 0;
}
#groupe img{
  width: 120px;
  height: auto;
  border: solid 1px #333;
  border-radius: 33%;
  display: none;
}
#text{
  float: left;
  max-width: 550px;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 0px #000000;
  color: black;
  margin-left: 25px;
}
#name{
  font-size: 30px;
}
#descr{
  font-size: 24px;
}
#descr.gouv{
  font-size: 20px;
}
#map{
  float: right;
  width: 150px;
  height: 200px;
  border-left: 1px solid black;
  text-align: center;
}
#map svg {
  margin-top: 30px;
}
#widget{
  clear: both;
  padding: 15px;
  float: left;
  width: 816px;
  height: 154px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#widget img {
  display: none;
}
#widget img.logo {
  position: absolute;
  top: 222px;
  left: 756px;
  width: 62px;
}
#autres{
  clear: both;
  float: left;
  text-align: left;
}
h2{
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
}
#right{
  float: left;
  padding-left: 10px;
  height: 100%;
  overflow: hidden;
}
#menu{
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}
h1{
  font-size: 24px;
}
h1 a, h1 a:visited, #linkFJ a, #linkFJ a:visited{
  text-decoration: none;
  color: inherit;
}
h1 span.tiny{
  font-size: 0.5em;
}
#logo{
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
}
.listparls{
  width: 250px;
}
.ui-autocomplete{
  min-width: 280px;
  max-height: 600px;
  overflow-y: auto;
}
.ui-autocomplete li{
  font-size: 0.8em;
}
.random{
  margin: 10px;
}
#FJ{
  background-color: #FFFFAA;
  width: 100%;
}
#tweetAN{
  width: 0;
}
#FJ, #tweetAN{
  margin: auto;
  height: 100%;
  overflow-y: auto;
  float: left;
}
#content, #FJloaded, #empty{
  display: none;
}
#empty{
  float: right;
}
#linkFJ{
  float: left;
  margin: -5px 0px 0px 10px;
}
.full-spectrum {
  float: left;
  margin: -5px 0px 0px 10px;
}
.full-spectrum .sp-preview {
  height: 8px;
}
.full-spectrum .sp-dd {
  height: 8px;
  line-height: 8px;
}
#refreshFJ, #testQAG, #loadTweetAN{
  float: right;
  margin: -5px 10px;
}
#FJ table{
  width: 100%;
}
#FJ tr{
  height: 28px;
}
#FJ tr.clickable{
  cursor: pointer;
}
#FJ tr.clickable:hover{
  background-color: #EFD;
}
#FJ .odd{
  background-color: #FFFF88;
}
#FJ .title{
  background-color: #FFFF55;
  height: 34px;
  font-weight: bold;
}
